#root {
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  display: flex;
  background-color: #979797;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: 2px 2px #fff;
  background-color: #ff7b7b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

article {
  display: flex;
  justify-content: space-evenly;
}


label {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

label input, textarea, checkbox, select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
}


button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #ce2b2b;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}